.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  padding: 0px 42px;
  background-color: #961914;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  max-width: 227px;
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}

.btn:hover {
  background-color: #75110d;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}

.option:last-child {
  margin-bottom: 0px;
}

.option input {
  display: none;
}

.option:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}

.option.active:before {
  background: url("../img/icons/option.png") center no-repeat;
}
