//<FORM (a.f+tab)>====================================================================================
.form {
}

//</FORM>=============================================================================================

//<BUTTONS (a.btn+tab)>===============================================================================
.btn {
	display: inline-block;
	padding: 0px 0px;
	&:hover {
	}
	&.fw {
		width: 100%;
	}
}
//</BUTTONS>==========================================================================================

//<SELECT (sel+tab)>==================================================================================

//</SELECT>==========================================================================================

//<INPUT (inp+tab)>==================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	&.focus {
	}
	&.err {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
//</INPUT>===========================================================================================

//<CHECK (chk+tab)>==================================================================================

//</CHECK>===========================================================================================

//<OPTIONS (opt+tab)>================================================================================
.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
	&:last-child {
		margin-bottom: 0px;
	}
	input {
		display: none;
	}
	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 16px;
		height: 16px;
		content: "";
		border: 1px solid #7f7f7f;
		border-radius: 50%;
	}
	&.active {
		&:before {
			background: url("../img/icons/option.png") center no-repeat;
		}
	}
}
//</OPTIONS>=========================================================================================

//<RATING>===========================================================================================

//</RATING>==========================================================================================

//<QUANTITY>=========================================================================================

//</QUANTITY>========================================================================================

//<RANGE>============================================================================================

//</RANGE>===========================================================================================
