//<FORM (a.f+tab)>====================================================================================
.form-footer {
	&__inputs {
		display: flex;
		margin: 0px 0px 16px 0px;
		@media (max-width: $md3 + px) {
			flex-direction: column;
		}
	}

	&__input {
		margin: 0px 24px 0px 0px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: $md3 + px) {
			margin: 0px 0px 16px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
		input {
			width: 306px;
			background: rgba(255, 255, 255, 0.05);
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 8px;
			padding: 14px 14px 14px 14px;
			font-size: 14px;
			line-height: 140%;
			color: #ffffff;
			&::placeholder {
				font-size: 14px;
				line-height: 140%;
				color: #ffffff;
				opacity: 0.6;
			}
			@media (max-width: $md3 + px) {
				width: 100%;
			}
		}
	}
	&__textarea {
		margin: 0px 0px 22px 0px;
		textarea {
			font-size: 14px;
			line-height: 140%;
			color: #ffffff;
			background: rgba(255, 255, 255, 0.05);
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 8px;
			resize: none;
			width: 636px;
			height: 122px;
			padding: 8px 16px;
			&::placeholder {
				font-size: 14px;
				line-height: 140%;
				color: #ffffff;
				opacity: 0.6;
			}
			@media (max-width: $md3 + px) {
				width: 100%;
				height: 300px;
			}
			@media (max-width: $md4 + px) {
				height: 280px;
			}
		}
	}

	&__btns {
		display: flex;
		align-items: center;
		@media (max-width: $md3 + px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__check {
		margin: 0px 115px 0px 0px;
		@media (max-width: $md3 + px) {
			margin: 0px 0px 33px 0px;
		}
		label {
			font-size: 12px;
			line-height: 140%;
			color: #ffffff;
			position: relative;
			padding-top: 2px;
			padding-left: 24px;
			cursor: pointer;
			input {
				position: absolute;
				width: 0;
				height: 0;
				opacity: 0;
				&:checked ~ span {
					background: #ffffff;
					border: 1px solid #fff;
				}
				&:checked ~ span:after {
					display: block;
				}
			}
			span {
				position: absolute;
				top: 0;
				left: 0;
				width: 16px;
				height: 16px;
				border: 1px solid rgba(255, 255, 255, 0.5);
				border-radius: 2px;
				background: rgba(255, 255, 255, 0.05);
				transition: all 0.3s;
				&:after {
					content: "";
					position: absolute;
					display: none;
					left: 4px;
					top: 1px;
					width: 6px;
					height: 10px;
					border: solid #961914;
					border-width: 0px 2px 2px 0;
					transform: rotate(45deg);
				}
			}
		}
	}
	&__btn {
	}
}
//===================================================================================================
.form-order {
	display: flex;
	flex-direction: column;
	&__input {
		background: #f4f5f5;
		border-radius: 8px;
		padding: 14px 16px;
		margin: 0px 0px 16px 0px;
		color: #000000;
		font-size: 14px;
		line-height: 140%;
		&::placeholder {
			font-size: 14px;
			line-height: 140%;
			color: #000000;
			opacity: 0.5;
		}
	}
	&__value {
		margin: 0px 0px 16px 0px;
		display: flex;
	}
	&__check {
		margin: 0px 0px 36px 0px;
		label {
			font-size: 12px;
			line-height: 140%;
			color: #9f9e9d;
			position: relative;
			padding-top: 2px;
			padding-left: 24px;
			cursor: pointer;
			input {
				position: absolute;
				width: 0;
				height: 0;
				opacity: 0;
				&:checked ~ span {
					background: transparent;
					border: 1px solid #961914;
				}
				&:checked ~ span:after {
					display: block;
				}
			}
			span {
				position: absolute;
				top: 0;
				left: 0;
				width: 16px;
				height: 16px;
				border: 1px solid #9f9e9d;
				border-radius: 2px;
				background: transparent;
				transition: all 0.3s;
				&:after {
					content: "";
					position: absolute;
					display: none;
					left: 4px;
					top: 1px;
					width: 6px;
					height: 10px;
					border: solid #961914;
					border-width: 0px 2px 2px 0;
					transform: rotate(45deg);
				}
			}
		}
		@media (max-width: $md3 + px) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__dropdown {
	}
	&__amout {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #f4f5f5;
		border-radius: 8px;
		height: 48px;
		width: 100%;
		padding: 14px 18px;
		span {
			&:first-child {
				position: relative;
				width: 17px;
				height: 17px;
				cursor: pointer;
				&:before,
				&:after {
					content: "";
					position: absolute;
					background: #c4c4c4;
				}
				&:after {
					top: 50%;
					left: 3px;
					right: 3px;
					height: 2px;
					transform: translateY(-50%);
				}
				&:before {
					left: 53%;
					top: 3px;
					bottom: 3px;
					width: 2px;
					transform: translateX(-50%);
				}
			}
			&:last-child {
				position: relative;
				width: 17px;
				height: 17px;
				cursor: pointer;
				&:after {
					content: "";
					position: absolute;
					background: #c4c4c4;
					top: 50%;
					left: 4px;
					right: 3px;
					height: 2px;
					transform: translateY(-50%);
				}
			}
		}
		@media (max-width: $md3 + px) {
			padding: 14px 7px;
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md3 + px) {
			flex-direction: column;
		}
	}
	&__price {
		font-weight: bold;
		font-size: 20px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #000000;
		@media (max-width: $md3 + px) {
			margin: 0 0 15px 0;
		}
	}
}
.current-amount {
	font-size: 14px;
	line-height: 140%;
	color: #000000;
	opacity: 0.5;
}
//===================================================================================================
.form-calculate {
	&__body {
		margin: 0px 0px 42px 0px;
		display: flex;
		justify-content: space-between;
		@media (max-width: $md2 + px) {
			flex-direction: column;
		}
		@media (max-width: $md3 + px) {
			margin: 0px 0px 10px 0px;
		}
	}

	&__column {
		&:last-child {
			display: flex;
			flex-direction: column;
		}
	}

	&__radio {
		margin: 0px 0px 30px 0px;
		@media (max-width: $md3 + px) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__age {
		margin: 0px 0px 16px 0px;
		input {
			background: #f4f5f5;
			border-radius: 8px;
			padding: 14px 16px;
			color: #000000;
			font-size: 14px;
			line-height: 140%;

			width: 172px;
			margin: 0px 16px 0px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			&::placeholder {
				font-size: 14px;
				line-height: 140%;
				color: rgba($color: #000000, $alpha: 0.5);
			}
			@media (max-width: 400px) {
				width: 100%;
				margin: 0px 0px 16px 0px;
			}
		}
	}

	&__name {
		input {
			background: #f4f5f5;
			border-radius: 8px;
			padding: 14px 16px;
			color: #000000;
			font-size: 14px;
			line-height: 140%;
			width: 364px;
			&::placeholder {
				font-size: 14px;
				line-height: 140%;
				color: rgba($color: #000000, $alpha: 0.5);
			}
			@media (max-width: $md2 + px) {
				width: 100%;
			}
		}
		@media (max-width: $md2 + px) {
			margin: 0 0 16px 0;
		}
	}
	&__phone {
		background: #f4f5f5;
		border-radius: 8px;
		padding: 14px 16px;
		color: #000000;
		font-size: 14px;
		line-height: 140%;
		width: 364px;
		margin: 0px 0px 16px 0px;
		&::placeholder {
			font-size: 14px;
			line-height: 140%;
			color: rgba($color: #000000, $alpha: 0.5);
		}
		@media (max-width: $md2 + px) {
			width: 100%;
		}
	}
	&__textarea {
		height: 97px;
		resize: none;
		background: #f4f5f5;
		border-radius: 8px;
		padding: 14px 16px;
		color: #000000;
		font-size: 14px;
		line-height: 140%;
		width: 100%;
		&::placeholder {
			font-size: 14px;
			line-height: 140%;
			color: rgba($color: #000000, $alpha: 0.5);
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md3 + px) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}
}
.radio-calculate {
	display: flex;
	@media (max-width: 400px) {
		flex-direction: column;
	}
	&__item {
		position: relative;
		display: flex;
		margin: 0px 32px 0px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: 400px) {
			margin: 0px 0px 16px 0px;
		}
	}

	&__input {
		appearance: none;
		position: absolute;
	}

	&__label {
		padding-left: 24px;
		cursor: pointer;
		font-size: 14px;
		line-height: 140%;
		color: #000000;
		&:before {
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: transparent;
			border: 1px solid #434242;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		&:after {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #961914;
			position: absolute;
			top: 3px;
			left: 3px;
			transition: all 0.3s ease 0s;
			opacity: 0;
		}
	}
}
.radio-calculate__input:checked + .radio-calculate__label:before {
	border-color: #961914;
}
.radio-calculate__input:checked + .radio-calculate__label:after {
	opacity: 1;
}
//</FORM>=============================================================================================

//<BUTTONS (a.btn+tab)>===============================================================================
.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 48px;

	padding: 0px 42px;

	background-color: #961914;
	border-radius: 8px;

	color: #fff;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	text-align: center;

	max-width: 227px;

	transition: background 0.5s ease 0s;
	&:hover {
		background-color: #75110d;
	}
	&-tranparent {
		width: 160px;
		background-color: transparent;
		border: 1px solid #961914;
		color: #961914;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #ead1d0;
			border: 1px solid transparent;
		}
	}
	&-light {
		width: 214px;
		background-color: #fff4f3;
		color: #ec7973;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #ead1d0;
			color: #961914;
		}
		@media (max-width: $md3 + px) {
			width: 100%;
		}
	}
	&-modal {
		@media (max-width: 500px) {
			width: 100%;
		}
	}
	&-order {
		width: 249px;
	}
	&-calculate {
		width: 228px;
	}
}
//</BUTTONS>==========================================================================================

//<SELECT (sel+tab)>==================================================================================

//</SELECT>==========================================================================================

//<INPUT (inp+tab)>==================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	&.focus {
	}
	&.err {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
//</INPUT>===========================================================================================

//<CHECK (chk+tab)>==================================================================================

//</CHECK>===========================================================================================

//<OPTIONS (opt+tab)>================================================================================
.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
	&:last-child {
		margin-bottom: 0px;
	}
	input {
		display: none;
	}
	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 16px;
		height: 16px;
		content: "";
		border: 1px solid #7f7f7f;
		border-radius: 50%;
	}
	&.active {
		&:before {
			background: url("../img/icons/option.png") center no-repeat;
		}
	}
}
//</OPTIONS>=========================================================================================

//<RATING>===========================================================================================

//</RATING>==========================================================================================

//<QUANTITY>=========================================================================================

//</QUANTITY>========================================================================================

//<RANGE>============================================================================================

//</RANGE>===========================================================================================
