.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	padding: 16px 0px 0px 0px;
	transition: all 0.4s ease;
	@media (max-width: $md4 + px) {
		padding: 10px 0px 0px 0px;
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
	}

	&__logo {
		z-index: 51;
	}

	&__menu {
	}
}

.menu {
	&__icon {
	}
	&__btn {
		margin: 0 auto;
		@media (min-width: $md4 + px) {
			display: none;
		}
	}
	&__body {
		@media (max-width: $md4 + px) {
			position: fixed;
			overflow: auto;
			top: 0;
			right: -100%;
			width: 100%;
			height: 100%;
			background-color: #fff;
			padding: 122px 24px 62px;
			transition: right 0.3s ease 0s;
			overflow: auto;
			&:before {
				content: "";
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 80px;
				z-index: 10;
				background-color: transparent;
			}
			&--active {
				right: 0;
			}
			@media (max-width: $md4 + px) {
				&:before {
					height: 70px;
				}
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		li {
			margin: 0px 53px 0px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			@media (max-width: $md2 + px) {
				margin: 0px 30px 0px 0px;
			}
			@media (max-width: $md3 + px) {
				margin: 5px 0px 5px 30px;
				&:last-child {
					margin: 5px 0px 5px 30px;
				}
			}
			@media (max-width: $md4 + px) {
				margin: 0px 0px 40px 0px;
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
		@media (max-width: $md4 + px) {
			flex-direction: column;
			text-align: center;
			margin: 0px 0px 102px 0px;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 140%;
		text-align: center;
		color: #fff;
		@media (max-width: $md4 + px) {
			font-weight: 600;
			font-size: 24px;
			line-height: 140%;
			color: #000000;
		}
	}
}
//====================================================================================================
.icon-menu {
	display: none;
	@media (max-width: $md4 + px) {
		display: block;
		z-index: 5;
		position: relative;
		width: 27px;
		height: 18px;
		cursor: pointer;
		span {
			@include anim(0.3s, 0s);
			position: absolute;
			top: 8px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			border-radius: 5px;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&.menu__body--active {
			span {
				background-color: #000;
				@include scale(0);
				&:first-child {
					@include rotate(-45deg);
					top: 8px;
				}
				&:last-child {
					@include rotate(45deg);
					bottom: 8px;
				}
			}
		}
	}
}
//====================================================================================================
