//<ОСНОВНОЙ БЛОК>====================================================================================
.title {
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	font-size: 46px;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #000000;
	&-black {
		// color: #000;
	}
	// @media (max-width: $md2 + px) {
	// 	font-size: 52px;
	// }
	// @media (max-width: $md3 + px) {
	// 	font-size: 47px;
	// }
	@media (max-width: $md4 + px) {
		font-size: 40px;
		line-height: 130%;
	}
}

.text {
	font-size: 16px;
	line-height: 140%;
}
//</ОСНОВНОЙ БЛОК>===================================================================================

//<ГОТОВЫЕ КЛАССЫ>===================================================================================
.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================
.slick-slider {
	position: relative;
	.slick-track,
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-list {
		position: relative;
		overflow: hidden;
		width: 100%;
	}
	.slick-track {
		position: relative;
		width: 100%;
		@include flexbox();
	}
	.slick-slide {
		position: relative;
	}
	.slick-arrow {
		&.slick-prev {
		}
		&.slick-next {
		}
	}
	.slick-dots {
		li {
			button {
			}
			&.slick-active {
				button {
				}
			}
		}
	}
}

//</ГОТОВЫЕ КЛАССЫ>==================================================================================
