@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;

500;600;700&family=Oswald:wght@700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #434242;
  font-size: 16px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scrolled .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  padding: 9px 0px;
}

.scrolled .header__content {
  height: 62px;
}

.scrolled .menu__link {
  color: #000;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.scrolled .menu__link:hover {
  border-bottom: 2px solid #961914;
}

.scrolled .header__img {
  width: 62px;
}

.scrolled .icon-menu span {
  background-color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  padding: 0px 42px;
  background-color: #961914;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  max-width: 227px;
  -webkit-transition: background 0.5s ease 0s;
  -o-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}

.btn:hover {
  background-color: #75110d;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}

.option:last-child {
  margin-bottom: 0px;
}

.option input {
  display: none;
}

.option:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}

.option.active:before {
  background: url("../img/icons/option.png") center no-repeat;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 54px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000;
}

.title-black {
  color: #000;
}

.text {
  font-size: 16px;
  line-height: 140%;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.slick-slider .slick-slide {
  position: relative;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

Материал является допол
.slider__feed {
  position: relative;
  min-width: 0;
}

.slider__feed .slick-dots li {
  font-size: 0;
  margin: 0px 4px;
}

.slider__feed .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__feed .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid #961914;
  border-radius: 50%;
}

.slider__feed .slick-dots li.slick-active button {
  background-color: #961914;
  border-radius: 50%;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  padding: 16px 0px 0px 0px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.header__logo {
  z-index: 51;
}

.menu__btn {
  margin: 0 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__list li {
  margin: 0px 53px 0px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #fff;
}

.icon-menu {
  display: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainblock {
  position: relative;
}

.mainblock__body {
  padding: 225px 0px;
  position: relative;
  z-index: 2;
  max-width: 490px;
}

.mainblock__body--hide {
  opacity: 0;
}

.mainblock__body--show {
  opacity: 1;
}

.mainblock__title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 54px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
  z-index: 66;
}

.mainblock__title-focus {
  position: relative;
}

.mainblock__title-focus:before {
  content: url("../img/items/ellipse.png");
  position: absolute;
  top: -22px;
  left: -7px;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.mainblock__text {
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  margin: 0px 0px 25px 0px;
  z-index: 5;
}

.mainblock__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.logo-text {
  position: absolute;
  z-index: 1;
  bottom: 15%;
  right: -21px;
  width: 168px;
  height: 548px;
}

.info {
  padding: 180px 0px;
}

.info__column:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 80px 0px;
}

.info__item:first-child {
  width: 584px;
}

.info__item:last-child img {
  width: 588px;
  height: 523px;
}

.info__title {
  margin: 0px 0px 32px 0px;
}

.info__text {
  margin: 0px 0px 24px 0px;
}

.info__subtitle {
  margin: 0px 0px 16px 0px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}

.info__benefits {
  font-size: 16px;
  line-height: 140%;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 12px;
  position: relative;
}

.info__benefits:after {
  content: "";
  top: 7px;
  left: 0;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #961914;
}

.info__benefits:last-child {
  margin: 0px 0px 0px 0px;
}

.info__slider {
  display: none;
}

.column-composition {
  background-color: #ead1d0;
  padding: 32px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.column-composition:before {
  content: url("../img/items/barf-vector.png");
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
}

.composition-item__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  text-transform: uppercase;
  color: #000000;
  margin: 0px 0px 16px 0px;
}

.composition-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.composition-item__column {
  margin: 0px 72px 0px 0px;
}

.composition-item__column:last-child {
  margin: 0px 0px 0px 0px;
}

.composition-column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.composition-row__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 250%;
  margin: 0px 0px 0px 16px;
}

@media (min-width: 479.98px) {
  .menu__btn {
    display: none;
  }
}

@media (max-width: 1220px) {
  .column-composition {
    padding: 32px 50px;
  }

  .composition-item__column {
    margin: 0px 52px 0px 0px;
  }
}

@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1200px) {
  .info__item:last-child img {
    width: 488px;
    height: auto;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .title {
    font-size: 52px;
  }

  .menu__list li {
    margin: 0px 30px 0px 0px;
  }

  .mainblock__title-focus:before {
    top: 49px;
    left: -467px;
  }

  .mainblock__title {
    font-size: 50px;
  }

  .info {
    padding: 150px 0px;
  }

  .info__column:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 70px 0px;
  }

  .info__item:first-child {
    width: 100%;
    margin: 0px 0px 30px 0px;
  }

  .info__item:last-child img {
    width: 100%;
  }

  .info__title {
    text-align: center;
  }

  .info__text {
    text-align: center;
  }

  .column-composition {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 70px;
  }

  .composition-item {
    text-align: center;
    margin: 0px 0px 30px 0px;
  }

  .composition-item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .composition-item__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .title {
    font-size: 47px;
  }

  .menu__list li {
    margin: 5px 0px 5px 30px;
  }

  .menu__list li:last-child {
    margin: 5px 0px 5px 30px;
  }

  .mainblock__title-focus:before {
    content: url("../img/items/ellipse-02.png");
    top: 44px;
    left: -377px;
  }

  .mainblock__title {
    font-size: 46px;
  }

  .logo-text {
    bottom: 7px;
    right: -24px;
    width: 156px;
    height: 334px;
  }

  .info {
    padding: 100px 0px;
  }

  .info__column:first-child {
    margin: 0px 0px 40px 0px;
  }

  .info__title {
    margin: 0px 0px 25px 0px;
  }

  .info__text {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 600px) {
  .info__column:first-child {
    margin: 0px 0px 0px 0px;
  }

  .info__slider {
    display: block;
    min-width: 0;
  }

  .column-composition:before {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .column-composition {
    min-width: 0;
    padding: 56px 55px 24px;
  }

  .column-composition__item {
    display: none;
  }

  .composition-item {
    text-align: left;
  }

  .composition-item__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 40px 0px;
  }

  .composition-item__column {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 479.98px) {
  .scrolled .header {
    height: 58px;
    padding: 0px 0px 10px 0;
  }

  .scrolled .header__img {
    width: 32px;
  }

  .title {
    font-size: 40px;
  }

  .header {
    padding: 10px 0px 0px 0px;
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 122px 24px 62px;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    background-color: transparent;
  }

  .menu__body--active {
    right: 0;
  }

  .menu__list li {
    margin: 0px 0px 40px 0px;
  }

  .menu__list li:last-child {
    margin: 0px 0px 0px 0px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0px 0px 102px 0px;
  }

  .menu__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #000000;
  }

  .icon-menu {
    display: block;
    z-index: 5;
    position: relative;
    width: 27px;
    height: 18px;
    cursor: pointer;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.menu__body--active span {
    background-color: #000;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu.menu__body--active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.menu__body--active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }

  .mainblock__body {
    max-width: 100%;
  }

  .mainblock__title-focus:before {
    top: 44px;
    left: -167px;
  }

  .mainblock__title {
    font-size: 42px;
    line-height: 130%;
    margin: 0px 0px 24px 0px;
  }

  .mainblock__text {
    font-size: 18px;
    line-height: 140%;
    margin: 0px 0px 48px 0px;
  }

  .info {
    padding: 60px 0px;
  }

  .info__item:first-child {
    margin: 0px 0px 20px 0px;
  }

  .info__title {
    margin: 0px 0px 15px 0px;
  }

  .info__text {
    margin: 0px 0px 15px 0px;
  }

  .info__benefits {
    margin: 0px 0px 7px 0px;
  }
}

@media (max-width: 479.98px) and (max-width: 479.98px) {
  .menu__body:before {
    height: 70px;
  }
}

@media (max-width: 340px) {
  .column-composition {
    padding: 50px 40px 24px;
  }
}

@media (max-width: 480px) and (min-width: 397px) {
  .mainblock__title-focus:before {
    content: none;
  }
}

.webp .option.active:before{ background: url(../img/icons/option.webp) center no-repeat; }